export LC_ALL="en_US.UTF-8"
export LANG="en_US"
export EDITOR="sublime -w"
export ed="sublime -w"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

export MANPAGER="less -X"

export PYTHONSTARTUP=~/.pystartup

export RAILS_ENV='development'

export AWS_CONFIG_FILE=~/.aws/config